#pokemon_wrap {
    background-color: #000;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}

#img_front {
    display: block;
    margin: 0 auto;
}

#info {
    color: green;
    padding: 20px;
}